CompileFlags:
  Add: [
      #
      "-Wall",
      "-Wextra",
      "-Wunused",
      "/std:c++11",
      # "-std=c++11",
    ]

Diagnostics:
  UnusedIncludes: Strict
  ClangTidy:
    Add: [
        #
        bugprone-*,
        cert-*,
        modernize-*,
        performance-*,

        misc-*,
        clang-diagnostic-*,
        clang-analyzer-*,
        cppcoreguidelines-*,
      ]
    Remove: [
        #
        bugprone-easily-swappable-parameters,
        modernize-use-trailing-return-type,
        performance-enum-size,
      ]
